body {
    font-family:  "Roboto", sans-serif, "releway";
    font-style: normal;
    font-size: 14px;
    text-decoration: none;
}

.page-header {
    border-bottom: 1px solid #ECECEC;
    
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header-nav {
    display: flex;
    align-items: center;
}
.page-header .logo {
    margin-right: 93px;
    margin-bottom: 0;

}
.logo {
    display: block;
    color: #212121;
    font-family: Raleway,
    sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.section {
    padding: 94px 0;
    
}
.text-accent-logo {

    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #2196F3;
}

.text-logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}

.nav-link {
    display: flex;
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style: none;
 
}


.text-accent::after {
    content: "";
   
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px; 
    opacity: 1;
    transition: opaciti 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}


.nav-link .text-accent {
    color: #2196f3;

}
.nav-itam {
    text-decoration: none;
    position: relative;
}
.nav-itam:not(:last-child) {
    margin-right: 50px;
}

p, h1, h2, h3, h4, h5, h6, ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}
.link:hover,
.link:focus {
    color: #2196F3;
}

.link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: inherit;
    text-decoration: none;

    transition: color 250ms
     cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-header {
    display: flex;
    color: #757575;
    margin-left: auto;
    align-items: flex-end;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-icon,
.phone-icon {
    content: '';
    display: inline-flex;
    flex-shrink: 0;
    margin-right: 10px;
    fill: currentColor;
    white-space: nowrap;
}


.contacts-link-header {
    color: #757575;
}
.contact-list:not(:last-child) {
    margin-right: 50px;
}

.contacts,
.contacts-list {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    list-style: none;
}

.contacts:hover,
.contacts:focus,
.contacts-link:hover,
.mail-icon:hover,
.mail-icon:focus,
.phone-icon:hover,
.phone-icon:focus {
    color: #2196F3;
}

.hero-section {
    padding: 200px 0;
    background-color: #2F303A;
    text-align: center;

    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, 
    rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
     url("../images/imghero.jpg");
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
}
.text-hero {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto 30px;
    max-width: 696px;
}
.hero-section .button-order {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 32px;
    border: none;
    line-height: 30px;
    text-align: center;
    background-color: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-section .button-order:hover,
.hero-section .button-order:focus,
.form>.modal-btn:focus,
.form>.modal-btn:hover, 
.button>.form-btn:hover,
.button>.form-btn:focus {
    background-color: #188ce8;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    z-index: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.1, 0.1);
   
    
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%) scale(1, 1);
    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    width: 528px;
    height: 581px;
    padding: 40px;

    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
}

.backdrop .btn-close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    border: 1px solid #0000001a;
    border-radius: 50%;
    background-color: inherit;
    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .btn-close:hover,
.backdrop .btn-close:focus {
    color: #2196f3;
}

.modal .btn-close > .btn-close-icone {
    
    fill: currentColor;
}

.modal-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;

    color: #212121;
}
.textarea {
    resize: none;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.form-field {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
   
    position: relative;
}

.form-field .input-text:not(:last-child) {
    margin-bottom: 10px;
}
.form-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
   
    letter-spacing: 0.01em;
    
    color: #757575;
}
.form-field .input-text {
    display: block;
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border-color: #21212133;
}

.input-text {
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.comment-input {
    height: 120px;
    padding: 12px 16px;
    resize: none;
    border-color: #21212133;

    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}


.form-icon {
    position: absolute;
    top: 40%;
    left: 12px;

    display: inline-block;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-text:focus ~ .form-icon {
    fill: #2196F3;
}


.form-agree {

    text-align: left;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 30px;
    
}
.checkbox-hidden {
    appearance: none;
    position: absolute;
    width: 16px;
    height: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
   
}



.check-icon {
   
    width: 16px;
    height: 16px;
    margin-right: 8px;
   
    border-radius: 2px;
    border: 2px solid #212121;
    background-color: #fff;
    fill: transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-width 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-agree .checkbox:focus+.check-icon, 
.checkbox-hidden:checked+.policy-icon .check-icon {
    background-color: #2196F3;
    border-width: 0;
    fill: #FFFFFF;
    

}

.check-agree {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
   
    letter-spacing: 0.03em;
    color: #757575;
    
}

.form .policy-link {
    color: #2196F3;
}

.form>.modal-btn,
.form-email>.form-btn {
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
   
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.feature-list {
    display: flex;
}

.feature-list::before {
    background-image: url(../images/icons/);
    content: '';
    width: 270px;
    height: 120px;
}

.feature-list .feature-item {
    flex-basis: calc(100% / 4);
}
.feature-list .feature-item:not(:last-child){
    margin-right: 30px;
}
.feature.feature-item {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #212121;
}

.icon-wrapper {
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: #F5F4FA;
}

.feature-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    
}

.section-title {
    padding-top: 0;
}
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    color: #212121;
}

.box-cards,
.team-cards {
    display: flex;
}

.box:not(:last-child) {
    margin-right: 30px;
}

.box {
    position: relative;
    width: 370px;
}


.box-caption {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
   
    color: #FFFFFF;
    background-color: rgba(47, 48, 58, 0.8);
}

.box-caption .paragraph {
   
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.team-card:last-child {
    margin-right: 0px;
}
.card-img {
    display: block;
    height: auto;
    max-width: 100%;
}
.team {
    background-color: #F5F4FA;
}

 .team-card {  
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px;
    background-color: #FFFFFF;

    margin-right: 30px;

    
}
 
.team-cards .cards-text {
    padding: 30px 15px;
    margin: 0;

    
}
.cards-text {
    width: 270px;
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 19px;
    margin: 0;
}
.team-card .subtitle-1 {
    font-weight: 500;
    color: #212121;
    margin-bottom: 10px;
}
.social-list {
    display: inline-flex;
    align-items: center;
    
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: -10px;
    
}
.social-list .itam {
    margin-right: 10px;
    
    
}


.itam .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    
    fill: #AFB1B8;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-icon {
    width: 22px;
    height: 22px;
}

.team-card .social-list .social-link:hover,
.team-card .social-list .social-link:focus,
.footer .follow-us-container .social-link:hover,
.footer .follow-us-container .social-link:focus {
    background-color: #2196F3;
    fill: #FFF;

    
}

.list-clients {
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.list-clients .item:not(:last-child) {
    margin-right: 30px;
}



.list-clients .client-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    margin-right: 30px;
    fill: #afb1b8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-clients .item {
    flex-basis: calc((100% - 30px) / 6);
}

.client .list-clients .client-link:hover,
.client .list-clients .client-link:focus {
    fill: #2196F3;
    border: 1px solid #2196F3;
}
.footer {
    padding: 60px 0;

    background-color: #2F303A;

    
}
.footer .logo {
    margin-bottom: 20px;
}


.footer-mail,
.footer-phone {
    text-decoration: none;
    font-style: normal;
}
.contacts-link {
    text-decoration: none;

    color: rgba(255, 255, 255, 0.6);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clear-link-text-accent {
    text-decoration: none;
    color: #FFFFFF;
    font-style: normal;
}


.item-adress-geo,
.item-adress-mail {
    margin-bottom: 9px;
}
.item-adress-mail,
.item-adress-phone {
    color: #ffffff99;
}
.footer-contacts {
    font-weight: 400;
    list-style: none;
    line-height: 1.71;
    letter-spacing: 0.03em;

    
}

.footer> .container {
    display: flex;
    align-items: flex-start;
}
.footer .adress-container {
    margin-right: 70px;
    
}
.footer .follow-us-container {
    padding-top: 12px;

    align-items: flex-start;
}
.footer .follow-us-container .social-link {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    fill: #FFFFFF;
}
.footer .subtitle-1 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    text-transform: uppercase;
}

 .form-email {
    padding-top: 12px;
    padding-left: 93px;

}

.text-subscribe {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    
    color: #FFFFFF;
}

.user-email {

    
    width: 358px;
    height: 50px;
    margin-right: 12px;
    margin-bottom: 20px;
    padding-left: 16px;
    
    border: 1px solid #ffffff4d;
    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: transparent;
    box-shadow: 0px 4px 4px 0px #00000026;
    
    color: #FFF;
   
   
}

.user-email::placeholder {
    font-size: 16px;
    line-height: 1.25;
    
    color: #ffffff99;
}

.form-email .user-email:focus {
    border-color: #2196f3;
    
}


.form-btn {
   position: absolute;
    
}

.submit-icon {
    margin-left: 10px;
   transform: translateY(20%);
    
}

.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-portfolio .filter-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-portfolio .item {
    margin-right: 8px;
}

.section-portfolio .item:last-child {
    margin-right: 0px;
}

.filter-list {
    margin-bottom: 50px;
}

.filter-btn {
    padding: 6px 22px;
    border: none;
    background-color: #F5F4FA;
    border-radius: 4px;
    cursor: pointer;

}

.button,
.button-active {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: inherit;
    border-radius: 4px;
    min-width: 73px;
    padding: 6px 22px;
    background-color: #f5f4fa;
    border-width: 0px;
    color: #212121;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.button-active,
.button:hover,
.button:focus {
    background-color: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #FFFFFF;
}

.portfolio-cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(30px * -1);
    margin-right: calc(30px * -1);
    

}

.portfolio-cards .card-text {

    padding: 20px 24px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;

}




.card-link {
    display: block;
    text-decoration: none;
    font-style: normal;
    color: inherit;
   
}

.portfolio-cards .img-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay-text {
    
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.03em;
 
}
.portfolio-cards .card-link-overlay {
    
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    
    line-height: 1.55;
    color: #fff;
    background-color: rgba(33, 150, 243, 0.9);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
   
    
}

.portfolio-cards .card-link:hover .card-link-overlay,
.portfolio-cards .card-link:focus .card-link-overlay {
    transform: translateX(0%);
    
}

.portfolio-cards .card {
    margin-right: 30px;
    margin-top: 30px;
    
}

 .card-link:hover,
 .card-link:focus,
.card-link-overflow:hover,
.card-link-overflow:focus {
  
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);

    

}
.subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #212121;

}

.description {

    line-height: 30px;
}

.description-1 {

    line-height: 19px;
    margin-bottom: 16px;
}

.description,
.description-1 {
    font-weight: 400;
    font-size: 16px;
    color: #757575;

}





